{
    "enable": "True",
    
    "source_path": "/path/to/source",
    "source_selection_condition": "anyfile",
    "source_subfolder_search": "True",
    "source_filelist_shuffle": "False",

    "destination_path": "/path/to/destination",
    "destination_selection_condition": "anyfile",
    "destination_subfolder_search": "True",
    "destination_filelist_shuffle": "False",

    "hierarchy_maintenance": "True",
    "left_files_deletion": "False",
    "file_override": "False",
    "size_limit": "0",
    "sync_cooldown": "14400"
}

